<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>Logo</h1>
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmitGET(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="Test GET" onclick="return Client.handleSubmitGET(event)" onsubmit="return Client.handleSubmitGET(event)">
                </form>
                <form class="" onsubmit="return Client.handleSubmitPOST(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="button" name="" value="Test POST" onclick="return Client.handleSubmitPOST(event)" onsubmit="return Client.handleSubmitPOST(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
